@import '@/styles/_var';

.carousel-slide-left-enter {
    left: 100%;
}

.carousel-slide-left-enter-active,
.carousel-slide-left-leave-active,
.carousel-slide-right-enter-active,
.carousel-slide-right-leave-active {
    transition: left 0.5s;
}

.carousel-slide-left-enter-to,
.carousel-slide-left-leave {
    left: 0%;
}

.carousel-slide-left-leave-to {
    left: -100%;
}

.full-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;

    .media {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        -ms-overflow-style: none; //IE/Edge
        scrollbar-width: none; //Firefox

        &::-webkit-scrollbar {
            display: none; //Chorme
        }

        &::v-deep(img) {
            width: 100%;
        }
    }

    .btn-media {
        position: absolute;
        display: inline;
        color: $white;
        width: 48px;
        height: 48px;
        font-size: 48px;
        border-radius: 50%;

        &:hover {
            background-color: rgba($black, 0.3);
        }


        &.icon-arrow-left {
            top: 50%;
            left: 32px;
        }

        &.icon-arrow-right {
            top: 50%;
            right: 32px;
        }
    }
}