@import '@/styles/_var';

.full-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;

    .media {
        display: flex;

        &::v-deep(img) {
            width: 100%;
        }
    }

    .btn-media {
        position: absolute;
        display: inline;
        color: $white;
        width: 48px;
        height: 48px;
        font-size: 48px;
        border-radius: 50%;

        &:hover {
            background-color: rgba($black, 0.3);
        }


        &.icon-arrow-left {
            top: 50%;
            left: 32px;
        }

        &.icon-arrow-right {
            top: 50%;
            right: 32px;
        }
    }
}