<div class="date-picker month" v-clickaway="close">
    <div :class="['date-picker-date', disabled ? 'disabled' : '']">
        <input :value="currentValue" :class="{'invalid': invalid}" :placeholder="placeholder" readonly
               :disabled="disabled" @click="open = !open" ref="date" />
        <button class="btn-icon icon-close" :disabled="disabled" @click.stop="updateValue('')" v-if="currentValue"></button>
        <button class="btn-icon icon-calendar" v-else></button>
    </div>
    <div class="date-picker-dates" v-if="open">
        <div class="week-box">
            <div class="header">
                <div class="arrow">
                    <button class="btn-icon icon-arrow-left" @click.stop="currentDatePicker.toPrevDate()"></button>
                </div>
                <div class="text">
                    <button class="btn-month" @click="currentDatePicker = month"
                            v-text="months[currentDatePicker.date().month()]">
                    </button>
                    <button class="btn-year" @click="currentDatePicker = year"
                            v-text="currentDatePicker.date().year()">
                    </button>
                </div>
                <div class="arrow">
                    <button class="btn-icon icon-arrow-right" @click="currentDatePicker.toNextDate()"></button>
                </div>
            </div>
            <div class="content">

                <div class="months" v-if="currentDatePicker.type == pickerTypes.Month.id">
                    <div class="cell" v-for="(month,idx) in currentDatePicker.getMonths().months" :key="idx">
                        <button :class="['btn-month', { 'active': isSelectedMonth(currentDatePicker.getMonths().year, idx) }]"
                                :disabled="month.isDisabled" v-text="month.month"
                                @click.stop="sendSelectMonth(currentDatePicker.getMonths().year, idx)">
                        </button>
                    </div>
                </div>

                <div class="years" v-if="currentDatePicker.type == pickerTypes.Year.id">
                    <div class="cell" v-for="(year,idx) in currentDatePicker.getYears().years" :key="idx">
                        <button :class="['btn-year', { 'active': isSelectedYear(year.year) }]"
                                :disabled="year.isDisabled" v-text="year.year"
                                @click.stop="sendSelectYear(year.year)">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>