@import '@/styles/_var.scss';

.modal {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.1s linear;

    &.not-background {
        background-color: transparent;
    }

    .modal-body {
        border-radius: 6px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: $white;
        overflow-y: auto;
        max-height: 98%; // 避免上下貼邊
    }
}
