@import '@/styles/_var';
.carousel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    &::v-deep(.slide) {
        position: absolute;
        height: inherit;

        img {
            width: 100vw;
            height: inherit;
            object-fit: cover;
            object-position: center;
        }
    }

    .navigation {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: inherit;
        height: inherit;

        .btn-navigation {
            color: $white;
            max-width: 48px;
            max-height: 48px;
            font-size: 48px;
            border-radius: 50%;
            background-color: rgba($white, 0.3);

            @media (hover: hover) and (pointer: fine) {
                /* touch browsers 不觸發 hover css style */
                &:hover {
                    background-color: $emerald;
                }
            }

            &.icon-arrow-left {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                margin-left: 32px;
            }

            &.icon-arrow-right {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                margin-right: 32px;
            }
        }
    }

    .pagination {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 32px;

        .btn-pagination {
            width: 8px;
            height: 8px;
            border: 1px solid $white;
            border-radius: 50px;
            transition: all 0.5s ease-in-out;

            &:not(:last-child) {
                margin-right: 16px;
            }

            &:hover {
                border-color: $emerald;
                background-color: $emerald;
            }

            &.active {
                width: 32px;
                background-color: $emerald;
                border-color: $emerald;
            }
        }
    }
}

@include phone {
    .carousel {
        .navigation .btn-navigation {
            max-width: 24px;
            max-height: 24px;
            font-size: 24px;
        }
    }
}