@import '@/styles/_var';
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: inherit;
    max-width: inherit;
    height: 100%;
    min-height: inherit;
    max-height: inherit;

    
    &::v-deep(.slide) {
        position: absolute;
        width: inherit;
        min-width: inherit;
        max-width: inherit;
        height: inherit;
        min-height: inherit;
        max-height: inherit; 

        img {
            width: inherit;
            min-width: inherit;
            max-width: inherit;
            height: inherit;
            min-height: inherit;
            max-height: inherit;     
            object-fit: cover;
            object-position: center;
        }

        video {
            width: 100%;
            min-width: inherit;
            max-width: inherit;
            height: 100%;
            min-height: inherit;
            max-height: inherit;     
            object-fit: cover;
            object-position: center;
        }
    }

    .navigation {
        .btn-navigation {
            position: absolute;
            color: $white;
            max-width: 48px;
            max-height: 48px;
            font-size: 48px;
            border-radius: 50%;
            background-color: rgba($white, 0.3);
            top: 50%;

            @media (hover: hover) and (pointer: fine) {
                /* touch browsers 不觸發 hover css style */
                &:hover {
                    background-color: $emerald;
                }
            }

            &.icon-arrow-left {
                top: 50%;
                left: 32px;
            }

            &.icon-arrow-right {
                right: 32px;
            }
        }

        &.nav-small .btn-navigation {
            max-width: 24px;
            max-height: 24px;
            font-size: 24px;
        }
    }

    .pagination {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 32px;
        z-index: 1;

        .btn-pagination {
            width: 8px;
            height: 8px;
            border: 1px solid $white;
            border-radius: 50px;
            transition: all 0.5s ease-in-out;

            &:not(:last-child) {
                margin-right: 16px;
            }

            &:hover {
                border-color: $emerald;
                background-color: $emerald;
            }

            &.active {
                width: 32px;
                background-color: $emerald;
                border-color: $emerald;
            }
        }
    }
}

@include phone {
    .carousel {
        .navigation .btn-navigation {
            max-width: 24px;
            max-height: 24px;
            font-size: 24px;
        }
    }
}